:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

*{
  margin: 0;
  padding: 0;
}

.body-container{
  height: 450px;
  width: 280px;
  border-radius: 15px;
  background: rgb(0,0,0);
  background: linear-gradient(179deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(38,142,245,1) 0%, rgba(237,246,191,1) 95%, rgba(240,247,197,1) 100%, rgba(0,0,0,1) 100%);

}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.icon{
  height: 30px;
  width: 30px;
  object-fit: cover;
  object-position: center;
  color: white;
}

.in{
  height: 30px;
  width: 180px;
  border-radius: 50px;
  border: none;
}

input::placeholder{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
}

.input-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 2rem;
}

.weather-icon{
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
}

.loc{
  width: 50%;
  font-size: 15px;
  text-align: center;
  color: white;
}

.temprature-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
}

.celcius{
  color: white;
  font: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  padding-top: 1rem;
}

.img5{
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
}

.last-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 4rem;
}

.humidity{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 120px;
}
.wind{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 120px;

}

.persent{
  font-size: 14px;
  word-break: normal;
  color: rgb(76, 73, 73);
  width: 20%;
  font-weight: 500;
}